@reference "../globals.css";

/*header*/
@layer components {
  .bulletPoint {
    @apply relative block pr-3;
  }
  .bulletPoint::before {
    content: "";
    @apply absolute w-1 h-1 bg-white rounded-full opacity-100;
    top: 44%;
    right: 0px;
  }
}

.gradientOffer {
  background: radial-gradient(
    ellipse closest-side at 50% 60%,
    var(--primary-3),
    var(--primary-2)
  );
}

@media (min-width: 1024px) {
  .gradientOffer {
    background: radial-gradient(
      circle closest-side at 50% 60%,
      var(--primary-3),
      var(--primary-1)
    );
  }
}


.InteduceSection {
  background-image:
    repeating-linear-gradient(
      to right,
      color-mix(in srgb, var(--color-primary-3) 30%, transparent) 0px,
      color-mix(in srgb, var(--color-primary-3) 30%, transparent) 1px,
      transparent 1px,
      transparent 20px
    ),
    repeating-linear-gradient(
      to bottom,
      color-mix(in srgb, var(--color-primary-3) 30%, transparent) 0px,
      color-mix(in srgb, var(--color-primary-3) 30%, transparent) 1px,
      transparent 1px,
      transparent 20px
    );
}
